

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

     
body {
    padding-top: 80px;
    padding-bottom: 60px;
}


/* Goodbye rounded corners! */
input, label {
  border-radius: 0px !important;
}
/* Goodbye outline glow thing on buttons */
button:focus{
    outline: none !important;
}

.form-control:focus{
    border-color: blue !important;
    box-shadow: none !important;
    -webkit-box-sadow: none !important;
}

/* radio buttons */
label.btn.btn-info,
label.btn.btn-info.active {
    margin-bottom: 10px !important;
}
label.btn.btn-info {
    margin: 0px 10px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    box-shadow: none;
}
label.btn.btn-info.active {
    background-color: #3e3f3a;
    color: white;
}
label.btn.btn-info:first-child {
    margin: 0px 10px 0px 0px;
}
label.btn.btn-info:last-child {
    margin: 0px 0px 0px 0px;
}
.btn-group{
    display: table;
}
/* loader */
/*core*/
.loader {
  position: relative;
  margin: 0px auto;
}

/* view report page */
/* set table first column width */
#viewReport table tr td:first-child{
    width: 40% !important;
}
#viewReport table tr td:last-child{
    font-weight: bold;
}
#viewReport table tr:hover{
    background-color: #f2f2f2;
}

/* navbar */
div#navbar {
    margin-left: 10px;
}
/* all buttons */
.btn{
    margin: 5px;
}

/* file input */
/*
hide  default file input
this feels like a hack
although it's invisible, changing height positions and makes jquery validation popup work
*/
input[type="file"]{
	width: 1px;
	height: 40px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/*carousel gallery */
.carousel img {
  width: 100%;
  height: 300px;
}
.carousel-caption {
    background-color: rgba(0, 140, 186, 0.7);
    bottom: 25px;
}

/* PRINTING PAGE STYLES */
@media print{
    /*  hide all buttons   */
    .btn{
        display: none;
    }
    /*  hide a href urls  */
    a[href]:after {
        content: none !important;
    }
    body {
        padding-top: 20px;
    }
}